$font-type              = ttf

//urls
$url-media              = '../medias/'
$url-font               = $url-media + 'fonts/'
$url-img               = $url-media + 'img/'

//fonts
$font-family            = $font-sans-serif
$font-size              = 12
$fz                     = $font-size
$font-root              = rnd( $font-size / 14 * 100% )
$line-height            = rnd( 14 / $font-size )

//colors

$white                  = #ffffff
$orange                 = #ff9900
$grey1                  = #b6bcc0
$grey2                  = #7f8589
$grey3                  = #eaeef1
$grey4                  = #c6cbce
$blue                   = #0099ff