header.header
  div.container
    h1.tt-1
      span.hide Rakuten group Priceminister
      img(src="medias/img/logo.png" alt="Rakuten group Priceminister")
    form.form
      div.search 
        input.text-input(type="text" name="keyword" placeholder="Rechercher un produit")
        button.btn-search
          span.hide search
