.content 
  float right
  width 65%

//Products list

.list-product
  background-color: $white
  border-radius: 5px
  box-shadow()
  float left
  margin 0
  min-width 282px
  padding 0
  width 32%
  
li[class^="item"].active
  background-color $blue1
  transition background-color 0.2s 0.2s ease-out
  
  &:hover
    background-color $blue1
    transition background-color 0.2s ease-out
    
  p
    color $white
    transition color 0.2s 0.2s ease-out
  
  .shipping
    color $blue2

.item
  a 
    display block
    padding 12px 13px
    text-decoration none

li[class^="item"]
  border-bottom 1px solid $grey3
  list-style none
  transition background-color 0.2s ease-out
  
  &:hover
    background-color #eaf5fc
    transition background-color 0.2s ease-out
  
  &:first-child
    border-top-left-radius 5px
    border-top-right-radius 5px
  
  &:last-child
    border-bottom-left-radius 5px
    border-bottom-right-radius 5px
  
  img
    border-radius 50px
    display inline-block
    height 43px
    margin-right 17px
    vertical-align middle
    width @height
  
  p
    margin 0
    color $grey2
    
  .price-infos
    display inline-block
    vertical-align middle
  
  .price
    font-weight bold
    margin-bottom 3px
    span
      font-weight normal
      &:before
        content " - "
      
  .shipping
    color $grey4

.item-more
  // border: none
  text-align center
  
  a
    color $blue1
    display block
    padding 24px
    text-decoration none

//Product

.product
  background-color: $white
  border-radius: 5px
  box-shadow()
  box-sizing border-box
  padding 0 38px 0 5px
  position relative
  &:before
    content ""
    left -20px
    position absolute
    top 30px
    transition top 0.2s ease-out
    triangle( 20px, $white, left)
      
    

  
//Product header

.header-card
  border-bottom 1px solid $grey3
  padding 14px 20px 20px 20px
  .tt-1
    margin-bottom 2px
  .detail
    margin-bottom 4px 

//rating
.rating
  margin-left -2px
  .grade 
    span
      &:not([class])
        hide()
  
  .comments
    display inline-block
    vertical-align middle
    margin-left 2px
    
  a
    color $blue1
    text-decoration none
    
.grade
  background url("../medias/img/star_grey.png")
  display inline-block
  height 15px
  vertical-align top
  width 96px

.stars
  background url(../medias/img/star_yellow.png)
  display inline-block
  height 15px
  width 80%

//Product card
.product-infos
  border-bottom 1px solid $grey3
  box-sizing border-box
  clearfix()
  padding 16px 13px 26px 13px
  width 100% 
  
  img
    box-sizing border-box
    float left
    padding-right 20px
    width 47%

  .price-card
    float left
    margin-bottom 18px
    width 52%
    
  .button
    float left
    width 52%

//Product card
  .footer-card
    padding 20px 15px 26px 15px
    
    .tt-2
      margin-bottom 9px

.product.index2
  &:before
    top 90px

.product.index3
  &:before
    top 160px

.product.index4
  &:before
    top 230px

.product.index5
  &:before
    top 295px

.product.index6
  &:before
    top 365px